{% extends 'base.html' %}

{% block title %} {{ user.full_name }} {{ store.name }} Panel {% endblock %}

{% block content %}
    {% for product in products %}
        <div class="card" style="width:18rem; display:inline-block">
            <img src="{{ product.image.url }}" class="card-img-top" alt="..." width="300px" height="250px">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% empty %}
        <h6>This user has no products</h6>
    {% endfor %}
{% endblock %}