{% extends 'base.html' %}
{% load thumbnail %}


{% block title %} All Products {% endblock %}

{% block content %}
    {% for category in categories %}
        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-success">{{ category.name }}</a>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
                {% for sub in category.scategory.all %}
                    <a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <br /><br />
    <div class="row">
    {% for product in products %}
        <div class="col-3">
            <div class="card border-success text-white bg-success mb-3" style="width:18rem, display:inline-block">
                <img src="{{ product.image.url }}" class="card-img-top" alt="..." width="300px" height="250px">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
            </div>
                <div class="card-body">
                <a href="{{ product.get_absolute_url }}" class="card-link">Detail Product</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

