{% extends 'base.html' %}

{% block title %} Product {% endblock %}

{% block content %}
    {% if request.user.is_authenticated and request.user.id == store.user.id %}
    <a href="{% url 'shop:edit_product' request.user.id store.id product.id %}">EditProduct</a>
    {% endif %}
    <h3>{{ product.name }}</h3>
    <smal>{{ product.created }}</smal><h6>{{ product.price }} Toman</h6><br />
    <img src="{{ product.image.url }}" width="400px" height="400px">
    <p>{{ product.description }}</p><br /><br />
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add to cart">
    </form>
{% endblock %}