{% extends 'base.html' %}

{% block title %} OrderList {{ store.name }} {% endblock %}

{% block content %}
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">quantity</th>
            <th scope="col">Store</th>
        </tr>
    </thead>
    <tbody>
        {% for ord in orderitem %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ ord.order }}</td>
            <td>{{ ord.product }}</td>
            <td>{{ ord.price }}</td>
            <td>{{ ord.quantity }}</td>
            <td>{{ ord.store }} %</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}